<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      
    </configSections>
    <connectionStrings>
        <add name="CBS___DBMS.Properties.Settings.CBS_DBConnectionString"
            connectionString="SERVER=.\\SQLEXPRESS;AttachDbFilename=|DataDirectory|\CBS_DB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="CBS___DBMS.Properties.Settings.CBS_DBConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\CBS_DB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>